{% extends "base.html" %} {% load static %} {% block content %}
<main class="main">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="{% url 'home:home' %}" rel="nofollow">Home</a>
        <span></span> Shop <span></span> Compare
      </div>
    </div>
  </div>
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table text-center">
              <tbody>
                <tr class="pr_image">
                  <td class="text-muted font-md fw-600">Preview</td>
                  <td class="row_img">
                    <img
                      src="{% static 'imgs/shop/product-2-1.jpg' %}"
                      alt="compare-img"
                    />
                  </td>
                  <td class="row_img">
                    <img
                      src="{% static 'imgs/shop/product-1-1.jpg' %}"
                      alt="compare-img"
                    />
                  </td>
                  <td class="row_img">
                    <img
                      src="{% static 'imgs/shop/product-3-1.jpg' %}"
                      alt="compare-img"
                    />
                  </td>
                </tr>
                <tr class="pr_title">
                  <td class="text-muted font-md fw-600">Name</td>
                  <td class="product_name">
                    <h5>
                      <a href="{% url 'shop:shop.product' %}"
                        >J.Crew Mercantile Women's Short</a
                      >
                    </h5>
                  </td>
                  <td class="product_name">
                    <h5>
                      <a href="{% url 'shop:shop.product' %}"
                        >Amazon Essentials Women's Tanks</a
                      >
                    </h5>
                  </td>
                  <td class="product_name">
                    <h5>
                      <a href="{% url 'shop:shop.product' %}"
                        >Amazon Brand - Daily Ritual Wom</a
                      >
                    </h5>
                  </td>
                </tr>
                <tr class="pr_price">
                  <td class="text-muted font-md fw-600">Price</td>
                  <td class="product_price">
                    <span class="price">$45.00</span>
                  </td>
                  <td class="product_price">
                    <span class="price">$55.00</span>
                  </td>
                  <td class="product_price">
                    <span class="price">$68.00</span>
                  </td>
                </tr>
                <tr class="pr_rating">
                  <td class="text-muted font-md fw-600">Rating</td>
                  <td>
                    <div class="rating_wrap">
                      <div class="product-rate d-inline-block">
                        <div class="product-rating" style="width: 90%"></div>
                      </div>
                      <span class="rating_num">(121)</span>
                    </div>
                  </td>
                  <td>
                    <div class="rating_wrap">
                      <div class="product-rate d-inline-block">
                        <div class="product-rating" style="width: 90%"></div>
                      </div>
                      <span class="rating_num">(35)</span>
                    </div>
                  </td>
                  <td>
                    <div class="rating_wrap">
                      <div class="product-rate d-inline-block">
                        <div class="product-rating" style="width: 90%"></div>
                      </div>
                      <span class="rating_num">(125)</span>
                    </div>
                  </td>
                </tr>
                <tr class="description">
                  <td class="text-muted font-md fw-600">Description</td>
                  <td class="row_text font-xs">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and
                    </p>
                  </td>
                  <td class="row_text font-xs">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and
                    </p>
                  </td>
                  <td class="row_text font-xs">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and
                    </p>
                  </td>
                </tr>
                <tr class="pr_color">
                  <td class="text-muted font-md fw-600">Color</td>
                  <td class="row_color">
                    <ul class="list-filter color-filter">
                      <li>
                        <a href="#" data-color="Orange"
                          ><span class="product-color-orange"></span
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-color="Cyan"
                          ><span class="product-color-cyan"></span
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-color="Green"
                          ><span class="product-color-green"></span
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-color="Purple"
                          ><span class="product-color-purple"></span
                        ></a>
                      </li>
                    </ul>
                  </td>
                  <td class="row_color">
                    <ul class="list-filter color-filter">
                      <li>
                        <a href="#" data-color="Red"
                          ><span class="product-color-red"></span
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-color="Cyan"
                          ><span class="product-color-cyan"></span
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-color="Green"
                          ><span class="product-color-green"></span
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-color="Purple"
                          ><span class="product-color-purple"></span
                        ></a>
                      </li>
                    </ul>
                  </td>
                  <td class="row_color">
                    <ul class="list-filter color-filter">
                      <li>
                        <a href="#" data-color="Red"
                          ><span class="product-color-red"></span
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-color="Yellow"
                          ><span class="product-color-yellow"></span
                        ></a>
                      </li>
                      <li>
                        <a href="#" data-color="Orange"
                          ><span class="product-color-orange"></span
                        ></a>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr class="pr_size">
                  <td class="text-muted font-md fw-600">Sizes Available</td>
                  <td class="row_size">
                    <ul class="list-filter size-filter mt-15 font-small">
                      <li><a href="#">S</a></li>
                      <li><a href="#">M</a></li>
                      <li><a href="#">L</a></li>
                      <li><a href="#">XL</a></li>
                      <li><a href="#">XXL</a></li>
                    </ul>
                  </td>
                  <td class="row_size">
                    <ul class="list-filter size-filter mt-15 font-small">
                      <li><a href="#">S</a></li>
                      <li><a href="#">XL</a></li>
                      <li><a href="#">XXL</a></li>
                    </ul>
                  </td>
                  <td class="row_size">
                    <ul class="list-filter size-filter mt-15 font-small">
                      <li><a href="#">M</a></li>
                      <li><a href="#">L</a></li>
                      <li><a href="#">XL</a></li>
                      <li><a href="#">XXL</a></li>
                    </ul>
                  </td>
                </tr>
                <tr class="pr_stock">
                  <td class="text-muted font-md fw-600">Stock status</td>
                  <td class="row_stock"><span>In Stock</span></td>
                  <td class="row_stock">
                    <span class="text-danger font-weight-bold"
                      >Out of stock</span
                    >
                  </td>
                  <td class="row_stock"><span>In Stock</span></td>
                </tr>
                <tr class="pr_weight">
                  <td class="text-muted font-md fw-600">Weight</td>
                  <td class="row_weight">320 gram</td>
                  <td class="row_weight">370 gram</td>
                  <td class="row_weight">380 gram</td>
                </tr>
                <tr class="pr_dimensions">
                  <td class="text-muted font-md fw-600">Dimensions</td>
                  <td class="row_dimensions">N/A</td>
                  <td class="row_dimensions">N/A</td>
                  <td class="row_dimensions">N/A</td>
                </tr>
                <tr class="pr_add_to_cart">
                  <td class="text-muted font-md fw-600">Buy now</td>
                  <td class="row_btn">
                    <button class="btn btn-sm">
                      <i class="fi-rs-shopping-bag mr-5"></i>Add to cart
                    </button>
                  </td>
                  <td class="row_btn">
                    <button class="btn btn-sm btn-secondary">
                      <i class="fi-rs-headset mr-5"></i>Contact Us
                    </button>
                  </td>
                  <td class="row_btn">
                    <button class="btn btn-sm">
                      <i class="fi-rs-shopping-bag mr-5"></i>Add to cart
                    </button>
                  </td>
                </tr>
                <tr class="pr_remove text-muted">
                  <td class="text-muted font-md fw-600"></td>
                  <td class="row_remove">
                    <a href="#"
                      ><i class="fi-rs-trash mr-5"></i><span>Remove</span>
                    </a>
                  </td>
                  <td class="row_remove">
                    <a href="#"
                      ><i class="fi-rs-trash mr-5"></i><span>Remove</span>
                    </a>
                  </td>
                  <td class="row_remove">
                    <a href="#"
                      ><i class="fi-rs-trash mr-5"></i><span>Remove</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
